[submodule "qemu"]
	path = qemu
	url = https://github.com/rgouicem/qemu.git
[submodule "benchmarks/phoenix"]
	path = benchmarks/phoenix
	url = https://github.com/rgouicem/phoenix.git
[submodule "a2a-benchmarks"]
	path = a2a-benchmarks
	url = https://github.com/rgouicem/a2a-benchmarks.git
[submodule "proofs"]
	path = proofs
	url = git@github.com:binary-translation/risotto-proofs.git
[submodule "benchmarks/sqlite-bench"]
	path = benchmarks/sqlite-bench
	url = https://github.com/rgouicem/sqlite-bench
[submodule "benchmarks/cas-benchmark"]
	path = benchmarks/cas
	url = https://github.com/rgouicem/cas-benchmark
