# PARSEC
PARSEC_DIR=build/parsec-bins

# PHOENIX
PHOENIX_DIR=build/phoenix-aarch64

# Databases
SQLITE_DIR=build/sqlite-bins

# Openssl
OPENSSL_BIN=/nix/store/42c9xn9ikr7nbaw76vva6h8yc1vyymv4-openssl-1.1.1l-bin/bin/openssl

# Math
MATH_BIN=build/math-bins/math.aarch64

# SQlite microbench
SQLITE_BENCH_BIN=build/sqlite-bins/sqlite-bench.aarch64

# QEMU
QEMU_PATH=build/qemu/master-6.1.0
# QEMU_LD_PREFIX=/usr/x86_64-linux-gnu
