# PARSEC
PARSEC_DIR=build/parsec-bins

# PHOENIX
PHOENIX_DIR=build/phoenix-x86

# Openssl
OPENSSL_BIN=/nix/store/10jzrky6qp59qm75zwxxjysyzphywznj-openssl-1.1.1l-bin/bin/openssl

# Math
MATH_BIN=build/math-bins/math.x86_64

# SQlite microbench
SQLITE_BENCH_BIN=build/sqlite-bins/sqlite-bench.x86_64

# cas benchmark
CAS_BENCH_BIN=build/cas/cas.x86_64

# QEMU
QEMU_PATH=build/qemu/risotto
