# PARSEC
#PARSEC_DIR=/home/redha/benchmarks/parsec-3.0-bins
PARSEC_DIR=build/parsec-bins

# PHOENIX
PHOENIX_DIR=build/phoenix-x86

# Databases
SQLITE_DIR=build/sqlite-bins

# Openssl
OPENSSL_BIN=/nix/store/10jzrky6qp59qm75zwxxjysyzphywznj-openssl-1.1.1l-bin/bin/openssl

# Math
MATH_BIN=build/math-bins/math.x86

# SQlite microbench
SQLITE_BENCH_BIN=build/sqlite-bins/sqlite-bench.aarch64

# QEMU
QEMU_PATH=build/qemu/master-6.1.0
# QEMU_PATH=/home/redha/qemu/build/mem-order
# QEMU_LD_PREFIX=
# QEMU_LD_PREFIX=/usr/x86_64-linux-gnu
